HOLDWAITANAL_DB_HOST=12.81.64.130
HOLDWAITANAL_DB_USER=
HOLDWAITANAL_DB_PASSWORD=
HOLDWAITANAL_DB_PORT=3306
HOLDWAITANAL_DB_NAME=app_db
HOLDWAITANAL_DB_CHARSET=utf8mb4
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,12.81.64.130
HOLDWAITANAL_INPUT_DIR=C:\Users\minuk12.choi\Documnets
